* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  letter-spacing: 0.0125em;
}

.container {
  width: 1920px;
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  width: 65% !important;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon_menu {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  width: 100%;
  background-color: #ffffffb2;
  align-items: center;
  height: 100px;
}

.icon_menu img {
  width: 24px;
  height: 24px;
}

.header-left .active {
  color: #3b4144;
  opacity: 1;
  border-bottom: 3px solid #d93c23;
  padding-bottom: 5px;
}

.header-left ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* margin-top: 15px; */
}

.header-left ul li a {
  text-decoration: none;
  margin: 0 10px;
  color: #3b4144;
  opacity: 50%;
}

.header-left ul li a:hover {
  border-bottom: 3px solid #d93c23;
  opacity: 1;
  padding-bottom: 5px;
}

.icon_menu #iconOpen {
  cursor: pointer;
}

.header-center img {
  width: 133px;
  height: 38px;
  object-fit: contain;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right div {
  margin: 0 10px;
}

.post_item button:hover {
  cursor: pointer;
}

.logo_heart,
.logo_notifi {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.logo_heart img {
  display: block;
}

.logo_heart::after,
.logo_notifi::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
}

.logo_notifi {
  display: none;
}

.logo_heart img,
.logo_notifi img {
  width: 24px;
  height: 24px;
}

.post_item button {
  padding: 6px 24px 6px 24px;
  border-radius: 30px;
  background-color: #d93c23;
  color: #ffffff;
  border: none;
}

.user {
  display: flex;
}

.user_left {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #272727;
}

.user_left .level {
  opacity: 50%;
}

.user_right img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner .text {
  position: absolute;
  left: 100px;
  color: white;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  top: 50%;
}

.banner .text .title {
  margin-bottom: 10px;
}

.menu {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 15px;
  width: 80%;
}

.menu ul {
  display: flex;
  list-style: none;
  text-align: left;
  height: 40px;
  align-items: center;
}

.menu li {
  margin-right: 8%;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.menu a:hover {
  padding: 4px 16px;
  width: 128px;
  height: 39px;
  border-radius: 36px;
  background-color: #007882;
  color: #ffffff;
}

.menu .active {
  width: 128px;
  height: 39px;
  padding: 4px 16px;
  border-radius: 36px;
  background-color: #007882;
  color: #ffffff;
}

/* new */
.new {
  margin-top: 20px;
}

.new .title p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.new .title p img {
  width: 36px;
  height: 40px;
}

.new .title span {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.new .img .right.text__line-3 {
  display: none;
}

/* img */
.new .img {
  display: flex;
  gap: 20px;
}

.new .img .left {
  flex: 2;
}

.new .img .left .img-icon {
  position: relative;
  display: inline-block;
}

.new .img .left .img-icon .img-child {
  object-fit: cover;
  border-radius: 24px;
}

.new .img .left .img-icon .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
}

.new .img .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 350px;
}

.new .img .right .top,
.new .img .right .down {
  display: flex;
  flex-direction: column;
}

.new .img .right .top .img-icon {
  position: relative;
  display: inline-block;
}

.new .img .right .top .img-icon .img-child {
  border-radius: 24px;
  object-fit: contain;
}

.new .img .right .top .img-icon .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
}

.new .img .right .down .img-icon .img-child {
  border-radius: 24px;
  object-fit: contain;
}

.new .img .right .down .img-icon {
  position: relative;
  display: inline-block;
}

.new .img .right .down .img-icon .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
}

.img .text {
  justify-content: left;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

.img .text__line-1 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #3b4144;
}

.img .text__line-2 {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.img .text__line-2 span + span::before {
  content: " • ";
}

.img .text__line-2 span:first-child {
  color: #007882;
}

.img .text__line-2 span {
  margin-right: 10px;
}

.img .text__line-3 {
  opacity: 0.5;
  font-size: 14px;
  color: #555;
}

/* video */
.video {
  margin-top: 50px;
}

.video .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.video .title .all {
  opacity: 0.5;
}

.list-video {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.list-video .left {
  flex-basis: 70%;
}

.list-video .right {
  flex-basis: 30%;
}

.list-video .left .img-container {
  position: relative;
  display: inline-block;
}

.list-video .left .img-container .container-pause {
  position: absolute;
  width: 48px;
  height: 48px;
}

.list-video .left .img-container .container-pause img {
  width: 40px;
  height: 40px;
}

.list-video .left .img-container .icon {
  width: 24px;
  height: 24px;
  position: absolute;
}

.list-video .left .img-container .icon.heart {
  top: 10px;
  right: 10px;
}

.list-video .left .img-container .container-pause {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff80;
  border-radius: 50%;
}

.list-video .icon.pause:hover {
  cursor: pointer;
}

.list-video .left .img-container .text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.list-video .left .img-container .text .view-cre_at {
  margin-top: 5px;
}

.list-video .left .img-container .text .view-cre_at .cre_at {
  opacity: 0.5;
}

.list-video .left .img-container .text .view-cre_at .view::after {
  content: " • ";
}

/* right */
.list-video .right {
  height: 368px;
  overflow-y: auto;
  overflow-x: hidden;
}

.video__container {
  margin-bottom: 20px;
}

.list-video .right .video__container .img {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}

.list-video .right .video__container .img .img-child {
  width: 216px;
  object-fit: contain;
}

.list-video .right .video__container .img .icon,
.list-video .right .video__container .img .container-pause {
  position: absolute;
  width: 24px;
  height: 24px;
}

.list-video .right .video__container .img .icon.heart {
  top: 15px;
  right: 15px;
}

.list-video .right .video__container .img .container-pause {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff80;
  border-radius: 50%;
}

.list-video .right .video__container .text {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: #3b4144;
}

.list-video .right .video__container .text .view-cre_at {
  display: flex;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  gap: 20px;
}

.list-video .right .video__container .text .view-cre_at .view {
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  font-size: 12px;
}

.list-video .right .video__container .text .view-cre_at .cre_at {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
  opacity: 0.5;
}

.list-video .right .video__container .text .view-cre_at .cre_at::before {
  content: "•";
  opacity: 1;
}

/* list post */
.list__post {
  margin-top: 50px;
}

.list__post .title {
  margin-bottom: 20px;
}

.list__post .post__child .post__child-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.list__post .post__child .left {
  position: relative;
  display: inline-block;
  flex-basis: 30%;
}

.list__post .post__child .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 70%;
}

.list__post .post__child .left .img-child {
  width: 100%;
  height: 220px;
}

.list__post .post__child .left .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
}

.list__post .post__child .right a .text__line-1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.0015em;
  text-align: left;
  color: #3b4144;
}

.list__post .post__child .right .text__line-2 {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin: 10px 0;
}

.list__post .post__child .right a .text__line-2 .text__line-2__spanf {
  font-size: 14px;
  color: #007882;
}

.list__post .post__child .right .text__line-2 .text__line-2__spans::before,
.list__post .post__child .right .text__line-2 .text__line-2__spant::before {
  content: " • ";
}

.list__post .post__child .right a .text__line-2 .text__line-2__spans,
.list__post .post__child .right a .text__line-2 .text__line-2__spant {
  font-size: 14px;
  color: #3b4144;
}

.list__post .post__child .right .text__line-2 .text__line-2__spant {
  opacity: 0.5;
}

.list__post .post__child .right .text__line-3 {
  color: #3b4144;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  opacity: 0.5;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.list__post .post__child .show-375px {
  display: none;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.new .img .right .text__line-3 {
  display: none;
}

.more {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: 1.25px solid #3b4144;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more a {
  color: #3b4144;
}

/* MODAL */
.modal__main {
  padding-left: 10px;
  font-family: "Montserrat";
  display: none;
  margin-top: 15px;
}

.modal__main .show {
  left: 0;
  display: block;
}

.hidden {
  display: none;
}

.modal__header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 50px;
}

.icon__logo {
  height: 16px;
  width: 110px;
  object-fit: contain;
}

.modal__menu {
  margin: 30px 0;
  display: flex;
  justify-content: left;
}

.modal__menu ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.03em;
}

.modal__menu ul li {
  list-style: none;
  margin: 25px 0;
}

.modal__menu ul li a {
  color: #272727;
  opacity: 0.5;
  text-decoration: none;
}

.modal__menu .active {
  color: #d93c23;
  opacity: 1;
}

.modal__menu a:hover {
  color: #d93c23;
  opacity: 1;
}

.modal__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__btn div {
  margin-bottom: 10px;
}

.modal__btn--main {
  height: auto;
  background-color: #d93c23;
  border-radius: 30px;
  width: 100%;
  text-align: center;
  padding: 8px 0;
}

.modal__btn--main a {
  color: #ffffff;
}

.modal__btn--secondary {
  display: flex;
  width: 100%;
  gap: 10px;
}

.modal__btn a {
  text-decoration: none;
}

.modal__btn-item--login {
  flex: 1;
  width: 100%;
  height: auto;
  padding: 8px 24px;
  border-radius: 30px;
  text-align: center;
}

.modal__btn-item--login a {
  color: #3b4144;
}

.modal__btn-item--register {
  flex: 1;
  width: 100%;
  height: auto;
  padding: 8px 24px;
  border-radius: 30px;
  text-align: center;
  background-color: #3b4144;
}

.modal__btn-item--register a {
  color: #ffffff;
}

.modal__btn a:hover {
  cursor: pointer;
}

.modal__header .icon__close:hover {
  cursor: pointer;
}
